h1 {
    font-size: 37px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 18px;
    color: white
}

h3 {
    font-size: 30px;
    color: white
}

h4 {
    font-size: 18px;
    color: white
}

h5 {
    font-size: 30px;
    color: white
}

h6 {
    font-size: 18px;
    color: white
}

h7 {
    font-size: 30px;
    color: white
}

h8 {
    font-size: 18px;
    color: white
}

h9 {
    font-size: 30px;
    color: white
}

h10 {
    font-size: 18px;
    color: white
}

body {
background-color: #cf6a87;
color: white
}


